*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;

}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
    
}

.logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: #059afd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background: #f1343417;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    height: 60vh !important;
    background: url(img/almendras.webp) no-repeat center ;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #059afd;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #ffffff;
    padding: 0 100px;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgba(219, 78, 12, 0.467);
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: #777676;

}

.btn:hover{
    background: none;
}

.btn-home{
    display: flex;

}

.btn-home a{
    margin: 0 10px;
    
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 30px;
    background: #1f1d1d;
    padding: 50px 20px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, 0.5);
    margin: 2rem;

}

.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #0b0edd;
}

.box-container .box p{
    padding: 0 15px;
    font-size: 16px;
}

.about{
    background: #171717;
    margin-top: 0px;
    padding: 100px 100px;
}

.price{
    background: url(img/Hermosillo-Sonora.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 300px 300px;
    margin-top: 0px;
    padding-top: 500px;
}

.price img{
    padding-top: 50px;
}

.contact {
    padding-top: 110px;
    background: #171717;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 0;
    padding: 20px 0; /* Reduce el espacio interno */
    height: auto; /* Ajusta la altura al contenido */
    max-width: 600px;
    margin: 0 auto; /* Centrar en la página */
}

.contact img {
    width: 250x; /* Ajusta el tamaño según necesites */
    height: auto;
}

html {
    scroll-behavior: smooth;
}

